<script context="module">
	/*
	 * TODO: Add option to define a settings-file
	 */
    RED.nodes.registerType("shuttle-control", {
		name: { value: "shuttle-control" },
		category: "Runtime",
		color: "#90CAFF",
		defaults: {
			name: { value: "", label: "Name" },
      shuttleId: {value: "", label: "Shuttle ID"},
      shuttleIdType: { value: 'project name'},
			action: { value: "", label: "Action" },
      actionType: { value: 'start' },
			runtime: { value: "", type:"shuttle-runtime", label: "Runtime" },
			project: { value: "", label: "Project" },
      projectType: { value: ''},
			port: { value: '', label: "Port" },
      portType: { value: "0" },
			environment: { value: [] }
		},
		inputs: 1,
		outputs: 1,
		icon: function() {
			return "font-awesome/fa-rocket";
		},
		paletteLabel: "control",
		label: function() {
      if (this.name) {
        return this.name
      } else {
        let shuttleName = this.shuttleId
        if (!shuttleName) {
          if (this.projectType === 'msg') {
            shuttleName = 'runtime [msg.' + this.project + ']'
          } else {
            shuttleName = 'runtime [' + this.projectType + ']'
          }
        }
        let actionName = this.actionType
        if (this.actionType === ('msg')) {
          actionName = 'control'
        }
        return `${actionName} ${shuttleName}`
      }
		},
		oneditprepare: function() {
			render(this)
		},
		oneditsave: function() {
			update(this)
		},
		oneditcancel: function() {
			revert(this)
		}
	})
</script>
<script>
	export let node
	import { Input, TypedInput, EditableList, Row, Callout } from 'svelte-integration-red/components'
    
    // The auth token is needed to access to the HTTP API
    const authTokens = RED.settings.get("auth-tokens")

    let initProjects = true
    function readProjects () {
		window.$.getJSON({
			url: "/shuttle-red/getProjects",
			headers: authTokens ? { Authorization: "Bearer " + authTokens.access_token } : {},
      success: (projectsFromServer) => {
        projectsFromServer = projectsFromServer.sort()
        projectTypes = []
        projectsFromServer.forEach(p => projectTypes.push({ value: p, label: p, hasValue: false }))
        projectTypes.push('msg')
        // set project types for first time
        if (!node.projectType) {
          if (projectsFromServer.length) node.projectType = projectsFromServer[0]
          else node.projectType = 'msg'
        }
        initProjects = false
			}
		})
	}

  // warning: hasValue = false will not be dissolved by RED.util.evaluateNodeProperty
	const portTypes = [ { value: '0', label: "0 (dynamic)", hasValue: false }, "num", 'msg' ]
  const shuttleIdTypes = [ { value: 'project name', label: 'project name',  hasValue: false}, 'str', 'msg' ]
  const actionTypes = [ 
    { value: 'start', label: 'Start runtime', hasValue: false }, 
    { value: 'stop', label: 'Stop runtime', hasValue: false }, 
    { value: 'restart', label: 'Restart runtime', hasValue: false },
      'msg'
    ]
  let projectTypes = ['msg']
  readProjects()

	function addEnvironmentVariable() {
		node.environment = [...node.environment, { key: '', value: '', type: 'str' }]
	}
</script>
<Input bind:node prop="name" placeholder='optional name' />
<TypedInput bind:node prop="shuttleId" typeProp="shuttleIdType" types={shuttleIdTypes} />
<Input bind:node type="config" prop="runtime" />
<TypedInput bind:node prop="action" typeProp="actionType" types={actionTypes} />
{#if !initProjects}
  <TypedInput bind:node prop="project" typeProp="projectType" types={projectTypes} />
{/if}

{#if node.actionType === "start" || node.actionType === "msg" }
  {#if node.actionType === "msg" }
    <Callout small type="info">The following properties will only be used if action will be "start".</Callout>
  {/if}
	<TypedInput bind:node prop="port" typeProp="portType" types={portTypes} />
	<EditableList sortable removable label="Environment Variables" icon="list" bind:elements={node.environment} let:element={environmentVariable} let:index addButton style="height: 200px;"
			on:add={addEnvironmentVariable}>
		<Row style="margin-bottom: 0px; width: 70%;">
			<Input inline value={environmentVariable.key} on:change={(e) => node.environment[index].key = e.detail.value} placeholder="Key"></Input>
			<TypedInput inline label='' value={environmentVariable.value} type={environmentVariable.type} types={['msg', 'flow', 'global', 'str', 'num', 'bool', 'json', 'jsonata', 'date', 'env']} placeholder="Value" 
        on:change={(e) => {
          node.environment[index].value = e.detail.value
          node.environment[index].type = e.detail.type
        }}
     />
		</Row>
	</EditableList>
{/if}
